<mapper namespace="com.application.app.mapper">
    <select id="getId" parameterType="java.lang.Integer"
            resultType="com.application.app.entity.User">
        SELECT * FROM users WHERE id = #{id}
    </select>
    <select id="getUsername" parameterType="java.lang.String"
            resultType="com.application.app.entity.User">
        SELECT * FROM users WHERE username = #{username}
    </select>
    <insert id="addUser" parameterType="com.application.app.entity.User">
        INSERT INTO users (username, password) VALUES (#{username}, #{password})
    </insert>
    <update id="updateUser" parameterType="com.application.app.entity.User">
        UPDATE users SET username = #{username}, password = #{password}
        WHERE id = #{id}
    </update>
    <delete id="deleteUser" parameterType="java.lang.Integer">
        DELETE FROM users WHERE id = #{id}
    </delete>
</mapper>
